<div class="container">
  <div class="card">
    <h1>Calculadora</h1>

    <div class="input-container">
      <input type="number" [(ngModel)]="numero1" placeholder="Digite um número">
      <input type="number" [(ngModel)]="numero2" placeholder="Digite outro número">
    </div>

    <div class="buttons">
      <div class="row">
        <button (click)="somar()">Somar</button>
        <button (click)="subtrair()">Subtrair</button>
      </div>
      <div class="row">
        <button (click)="multiplicar()">Multiplicar</button>
        <button (click)="dividir()">Dividir</button>
      </div>
      <div class="row">
        <button (click)="potencia()">Potência</button>
        <button (click)="media()">Média</button>
      </div>
    </div>

    <h2 *ngIf="resultado !== null">Resultado: <span>{{ resultado }}</span></h2>
  </div>
</div>
